# Introduction to programming with Python

In [6]:
# Hello World
print("Hello World")

Hello World

In [2]:
# Single line comment

'''
This is a multi-line comment
'''

"""
This is also a multi-line comment
"""

'\nThis is also a multi-line comment\n'

In [22]:
# variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [7]:
# conditionals
if x > 5:
    print("NO")
elif x == 5:
    print(x)
else:
    print("Yes")

5

In [23]:
# Loop
while x > 0:
    print(x)
    x -= 1

for i in range(4):
    print(i)

5
4
3
2
1
0
1
2
3

In [24]:
# function
def square(x):
    return x**2

square(5)

25

## Simple Programs

In [15]:
# factorial of a number
def factorial(num: int) -> int:
    """Returns the factorial of a number"""
    f = 1
    
    for i in range(1, num+1):
        f *= i
    return f


factorial(5)

120

In [16]:
# sum of n numbers in a list
def sumOfN(nums: list[int]) -> int:
    """Return the sum of a list"""
    total = 0
    
    for x in nums:
        total += x
    return total


sumOfN([1, 3, 5, 7, 4, 3])

23

In [18]:
# find the smallest number in a list
def smallest(nums: list[int]) -> int:
    """Return the minimum element"""
    small = float('inf')

    for x in nums:
        if x < small:
            small = x
    return small


smallest([1, 3, 2, 4, 0, 5])

0

In [19]:
# find the largest number in a list
def largest (nums: list[int]) -> int:
    """Returns the maximum element"""
    large = -float('inf')

    for x in nums:
        if x > large:
            large = x
    return large


largest([1, 3, 2, 4, 0, 5])

5

In [20]:
# find the n-th fibonacci term
def fib(num: int) -> int:
    """Returns n-th fibonacci term"""
    first  = 0
    second = 1

    while num:
        first, second = second, first+second
        num -= 1
    return first


fib(10)

55

In [25]:
# find whether the given number is palindrome or not 
def isPalindromeNum(a: int) -> bool:
    """Returns True if the input is a palindrome"""
    num = a
    rev = 0

    while a:
        digit = a % 10
        rev = rev * 10 + digit
        a //= 10
    return num == rev


isPalindromeNum(151)

True

In [28]:
# find whether the given string is palindrome or not 
def isPalindromeStr1(s: str) -> bool:
    """Returns True if the input is a palindrome"""
    return s == s[::-1]


def isPalindromeStr2(s: str) -> bool:
    """Returns True if the input is a palindrome"""
    start = 0
    end = len(s)-1

    while start < end:
        if s[start] != s[end]:
            return False
        start += 1
        end -= 1    
    return True


print(isPalindromeStr1('racecar'))
print(isPalindromeStr2('racecar'))

True
True

In [29]:
# find whether the given number is even or odd
def evenOdd(num: int) -> str:
    """Find whether the given number is even or odd"""
    if num == 0: return "Neither even nor odd"
    if num % 2 == 0: return "Even"
    if num % 2 == 1: return "Odd"


evenOdd(2345)

'Odd'

In [30]:
# find whether the given number is an Armstrong number or not
def is_Armstrong(a: int) -> bool:
    """Return True if the given number is an Armstrong number"""
    if a < 0:
        a = abs(a)
    num = a
    cubeSum = 0

    while a:
        digit = a % 10
        cubeSum += digit**3
        a //= 10
    return cubeSum == num


is_Armstrong(345)

False

In [31]:
# find whether the given number is prime or not
def isPrime(num: int) -> bool:
    """Returns True if the given number is a prime number"""
    if num <= 1: return False

    for i in range(2, int(num ** 0.5)+1):
        if num % i == 0:
            return False
    return True


isPrime(3)

True

In [41]:
# Convert INR to USD
def to_USD(money: int) -> float:
    """Convert INR to USD"""
    return money/85


def to_Rupee(money: int) -> int:
    """Convert USD to INR"""
    return money*85


def convert(currency: str, amount: int) -> int:
    """Convert between USD and INR"""
    if currency.lower() == "usd":
        return to_Rupee(amount)
    elif currency.lower() == "inr":
        return to_USD(amount)
    else:
        return "Invalid format"
    

amount_usd = 1000
amount_inr = 100000

print(f"${amount_usd} is : {convert("USD", amount_usd)} Rupees")
print(f"₹{amount_inr} is : {convert("INR", amount_inr):.3f} Dollars")

$1000 is : 85000 Rupees
₹100000 is : 1176.471 Dollars

In [46]:
# convert celsius to fahrenheit 
def to_Fahrenheit(celsius: int ) -> float:
    """Convert celsius to fahrenheit"""
    return (celsius*1.8) + 32


to_Fahrenheit(40)

104.0

In [44]:
# compute area
def circle_area(radius: int) -> float: 
    """Returns the area of a circle with given radius"""
    PI = 3.1415
    return PI*radius*radius


def square_area(side: int) -> int:
    """Returns the area of a square with given side"""
    return side*side


def rectangle_area(length: int, breadth: int) -> int:
    """Returns the area of a rectangle with given length and breadth"""
    return length*breadth


def triangle_area(base: int, height: int) -> int:
    """Returns the area of a triangle with given base and height"""
    return 0.5*base*height


print("Area of Circle", circle_area(5))
print("Area of Square", square_area(5))
print("Area of Rectangle", rectangle_area(5, 6))
print("Area of Triangle", triangle_area(5, 6))

Area of Circle 78.53750000000001
Area of Square 25
Area of Rectangle 30
Area of Triangle 15.0

In [45]:
# find the average of a list
def average(nums: list[int]) -> int:
    """Returns the average of a list"""
    return sum(nums)/len(nums)


average([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

5.5

In [48]:
# find whether given year is leap year or not
def leap_year(year: int) -> bool:
    """Returns True if given year is a leap year"""
    if year % 400 == 0 and year % 100 == 0:
        return True
    if year % 4 == 0 and year % 100 != 0:
        return True
    return False


def leap_year_2(year: int) -> bool:
    """Returns True if given year is a leap year : Using Calendar module"""
    import calendar
    return calendar.isleap(year)


print(leap_year(2025))
leap_year_2(2025)

False

False

In [66]:
# find all the odd number in a given range
def odd_in_range(start: int, end: int) -> list[int]:
    """Returns odd numbers in a given range"""
    if start > end:
        return []
    result = []

    for num in range(start, end + 1):
        if num & 1 == 1:
            result.append(num)
    return result


odd_in_range(10, 20)

[11, 13, 15, 17, 19]

In [3]:
# find all the even squares up to a given number
def even_squares(n: int) -> list[int]:
    """Returns a list of all even squares up to input number"""
    result = []

    if n <= 1:
        print("Enter a number larger than 1")
        return result
    
    for i in range(2, n+1, 2):
        result.append(i*i)
    return result


even_squares(12)

[4, 16, 36, 64, 100, 144]

In [4]:
# find all the odd cubes up to a given number in reversed order
def reversed_odd_cubes(n: int) -> list[int]:
    """Returns a list of all odd cubes up to input number"""
    result = []
    
    if n < 1:
        print("Enter a number greater than 0")
        return result
    
    for i in reversed(range(1, n+1, 2)):
        result.append(i ** 3)
    return result


reversed_odd_cubes(10)

[729, 343, 125, 27, 1]

In [5]:
# find the sum of all digits in a number
def sum_of_digits(num: int) -> int:
    """Returns the sum of all digits in a number"""
    if num < 0:
        num = abs(num)
    x = 0
    while num:
        digit = num % 10
        x += digit
        num //= 10
    return x


sum_of_digits(-12345)

15

In [8]:
# Randomly print numbers and when you print 5 stop
import random


def random_five() -> list[int]:
    """Returns a list of random numbers between 1 and 10 until 5 occurs"""
    result = []
    while True:
        r = random.randint(1, 10)
        result.append(r)
        if r == 5:
            break
    return result


random_five()

[9, 6, 1, 3, 10, 3, 8, 4, 1, 8, 10, 6, 2, 7, 4, 1, 6, 2, 5]

In [11]:
# find the first digit of a number
def first_digit(n: int) -> int:
    """Returns the first digit of a number"""
    if n < 0:
        n = abs(n)
    while n >= 10:
        n //= 10
    return n


first_digit(910)

9