<h1 style='color: #FEC260'> Set </h1>

In [1]:
a = {96, 19, 47}
print(a, type(a))

{96, 19, 47} <class 'set'>

In [6]:
a.add(25)
print(a)

a.update([1,40, 66])
print(a)

{96, 25, 19, 47}
{96, 1, 66, 40, 47, 19, 25}

In [7]:
a.remove(25)

# a.remove(1000)  # This would give an error

a.discard(1000) # this wouldn't give an error

#### Removing duplicate values using a set

In [8]:
friend1 = ['Breaking bad', 'Dark', 'How I met your mother']
friend2 = ['Dark', 'Vikings', 'Money heist', 'JL50']
friend3 = ['GOT', 'Dark', 'Breaking bad']
friend4 = ['Sherlock', 'Daredevil', 'Breaking bad', 'dark']

Removing duplicates using Set

In [9]:
# This is soo easy using set 
s = set()
s.update(friend1, friend2, friend3, friend4)
print(s)

# we are not putting the list inside the set; we are reading the data from the -
# lists using the update function and then inserting those values into the list.

{'How I met your mother', 'JL50', 'Daredevil', 'Sherlock', 'Money heist', 'Vikings', 'GOT', 'Breaking bad', 'Dark', 'dark'}

<h2 style='color: #FEC260'> Set Comprehension </h2>

In [1]:
lis = ['Dark', 'Daredevil', 'Dev', 'Breaking Bad', 'JL50', 'Money Heist']

s3 = {x.upper() for x in lis if x.startswith("D")}
s3

{'DAREDEVIL', 'DARK', 'DEV'}